/processo_labs/Bucket/raw/yelp_academic_dataset_business
/processo_labs/Bucket/raw/yelp_academic_dataset_checkin
/processo_labs/Bucket/raw/yelp_academic_dataset_review
/processo_labs/Bucket/raw/yelp_academic_dataset_tip
/processo_labs/Bucket/raw/yelp_academic_dataset_user
/processo_labs/Bucket/transient/*